:root {
    --blue-cap: #255F82;
    --red-cap: #AC101A;
    --yellow-cap: #FCE400;
    --light-gray: #F4F4F4;
    --mid-gray: #515252;
    --dark-gray: #3D3D3D;
  }

* {
    box-sizing: border-box;
    color: black;
    margin: 0;
}

#header{
    margin: 1% 5% 0 2%;
    font-family:'Roboto';
    font-weight: 800;
    font-size: 250%;
}
  
#Main #header {
    margin-right: 15px;
}
#Main #spacer{
    padding: .5% 0 0 0;
    background-color: blue;
    margin: 0 2%;
}
hr{
    background-color: var(--blue);
    border: 3px var(--blue) solid;
    margin-bottom: 5%;
}

 .center{
    background-color: var(--grey);
    margin: 0%;
    /* width: 500px;
    height: 250px; */
    border-radius: 8%;
}  
.center-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}  
#Main{
    background-color: var(--light-gray);
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}