:root {
    --blue-cap: #255F82;
    --red-cap: #AC101A;
    --yellow-cap: #FCE400;
    --light-gray: #F4F4F4;
    --mid-gray: #515252;
    --dark-gray: #3D3D3D;
  }

* {
    box-sizing: border-box;
    color: black;
    margin: 0;
}

#header{
    background-color: white;
    font-family:'Roboto';
    font-weight: 800;
    font-size: 25pt;
    height:100px;
    line-height: 100px;
}
  
#Main #header {
    border-bottom: 1px solid #d4d4d4;
}
hr{
    background-color: var(--blue);
    border: 3px var(--blue) solid;
    margin-bottom: 5%;
}

 .center{
    background-color: var(--grey);
    margin: 0%;
    width: 75%;
    /* width: 500px;
    height: 250px; */
    border-radius: 8%;
    width: 100%;
}  
#Main{
    overflow-y: scroll;
    padding-top:10px;
    background-color: var(--light-gray);
    max-width: 1500px;
    margin: auto;
    height: 100vh;
}

.transactions{
}
.transaction{
    margin: auto;
    width: 450px;
    background-color: var(--blue-cap);
    border-radius: 5px;
    height: 80px;
    margin-top: 10px;
    border: var(--dark-gray) 2px solid;
}
.date{
    margin: auto;
    width: 450px;
    margin-top: 10px;
    margin-bottom: -8px;
}
.transaction .value{
    text-align: center;
    width: 50px;
    background-color: var(--dark-gray);
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
    color: var(--light-gray)
}
.transaction .info{
    width: 380px;
    height: 100%;
    float: left;
    margin-left: 3px;
    color: var(--light-gray)
}