:root {
    --blue-cap: #255F82;
    --red-cap: #AC101A;
    --yellow-cap: #FCE400;
    --light-gray: #F4F4F4;
    --mid-gray: #515252;
    --dark-gray: #3D3D3D;
  }

body{
    background: url(./background.jpg); 
    background-size: cover;
}
.center3{
    background-color: var(--light-gray);
    width: 350px;
    height: 150px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    text-align: center;
    justify-content: center; 
    align-items: center;
    padding-top: 30px;
}

.center-wrapper{
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: 0;
}

.signin{
    text-align: center;
    padding-bottom: 20px;
}

.button{
    margin: 3px;
    color: var(--light-gray);
    height: 28px;
    border: var(--blue-cap) 2px solid;
    border-radius: 2px;
    background-color: var(--blue-cap);
    cursor: pointer;
    width: 125px;
}


.textField{
    border-radius: 5px;
    border: black 2px solid;
    height: 30px;
    width: 200px;
    background: url(./person.png) no-repeat scroll 6px 5px;
    background-size: 16px 16px;
    padding-left: 30px;
}
.textField:focus{
    border-radius: 5px;
    border-width: 2px;
    border-color: #185389;
    outline: none;
}